:root {
  --interactive-color: #012030;
  --interactive-hover: #00293d;
  --interactive-active: #003651;
  /* --interactive-color: #523636;
  --interactive-hover: #634444;
  --interactive-active: #4b3131; */
  --light-txt: white;
  --dark-txt: rgb(6, 9, 28);
  --grey-txt: rgb(105, 105, 105);
  --border-on-dark: rgb(195, 195, 195);
  --border-on-light: black;
}