:root {
  --interactive-color: #3c1210;
  --interactive-hover: #4a1714;
  --interactive-active: #601f1c;
  /* --interactive-color: #523636;
  --interactive-hover: #634444;
  --interactive-active: #4b3131; */
  --light-txt: white;
  --dark-txt: rgb(6, 9, 28);
  --grey-txt: rgb(105, 105, 105);
  --border-on-dark: rgb(195, 195, 195);
  --border-on-light: black;
}