.filter-wrapper {
  position: fixed;
  top: 0;
  left: 60px;
  display: flex;
  background-color: white;
  padding: 0 10px;
  margin-top: 1rem;
  border-radius: 4px;
  display: flex;
  box-shadow: 2px 2px 1px 1px rgba(34, 60, 80, 0.2);

  height: 29px;
}

.filter-header {
  background-color: white;
  font-size: 1.4rem;

  height: 100%;
  padding: 0 6px;
  display: flex;
  align-items: center;
}

.filter-button, .clear-filter {
  background-color: white;
  font-size: 1.4rem;

  height: 100%;
  padding: 0 6px;
  display: flex;
  align-items: center;
}

.filter-button {
  border-right: 1px solid rgb(227, 227, 227);
}

.filter-button:hover, .filter-button:focus, .clear-filter:hover, .clear-filter:focus {
  background-color: rgb(236, 236, 236);
}

.filter-button:active, .clear-filter:active {
  background-color: rgb(211, 211, 211);
}

.single-filter-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  animation: appear-filter .3s ease-in-out forwards;
  will-change: opacity;
}

.single-filter-element {
  width: 100%;
}

.single-filterr-button {
  font-size: 1.4rem;
  padding: 4px 10px;
  width: 100%;
  border-bottom: 1px solid rgb(227, 227, 227);
}

.single-filterr-button:hover, .single-filterr-button:focus {
  background-color: rgb(236, 236, 236);
}

.single-filterr-button:active {
  background-color: rgb(211, 211, 211);
}

@media (max-width: 480px) {
   .filter-header {
    display: none;
   }
}

@keyframes appear-filter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}